.btn, .toglebtn, .editbtn, .savebtn  {
    background-color: #008CBA;
    border: 1px solid black;
    color: #F7F7F7;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
    transition-duration: 0.1s;
    width: 100%;
}

form {
    margin: auto;
    padding: 7px 10px;
    width: 300px;
    text-align: center;
}

.cont {
    text-align: center;
    width: 100%;
    margin: auto;
}

.header {
    width: fit-content;
    margin: auto auto 15px;
    font-size: xx-large;
}

input, select {
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    margin: auto auto 10px auto;
    display: inline-block;
    box-sizing: border-box;
}

.boxedText {
    text-align: center;
    margin: auto auto 10px;
    border: 1px solid rgba(0, 0, 0, .15);
    font-size: 1.25rem;
    border-radius: .25rem;
    background-color: #fff;
    padding: 5px 10px;
    width: auto;
}

.errorcont {
    text-align: center;
    margin: auto auto 10px;
    border: none;
    padding: 0;
    width: 300px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 7px 10px;
    display: table-cell;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.homebtn {
    width: 30px;
    height: 30px;
    float: left;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: .25rem;
    background-color: #008cba;
}

.navbar {
    float: left;
    width: fit-content;
    border: none;
    background-color: white;
}

.home {
    width: 30px;
    height: 30px;
    background-color: #008cba;
    color: #008cba;
    border: none;
}